.button {
  padding: 15px 45px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  line-height: 1.55;
  border-radius: 5px;
}
.button-border-yellow {
  border: 1px solid #ffc100;
}
.button-border-white {
  border: 1px solid white;
}
.button-backgroundColor-yellow {
  background-color: #ffc100;
}
.button-backgroundColor-white {
  background-color: white;
}
.button-textColor-gray {
  color: #4d4d4d;
}
.button-textColor-white {
  color: white;
}
