.button {
  padding: 15px 35px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  line-height: 1.55;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.button-border-yellow {
  border: 1px solid #ffc100;
}
.button-border-white {
  border: 1px solid white;
}
.button-backgroundColor-yellow {
  background-color: #ffc100;
  &:hover {
    opacity: 0.7;
  }
}
.button-backgroundColor-white {
  background-color: white;
  &:hover {
    background-color: #ffc100;
  }
}
.button-textColor-gray {
  color: #4d4d4d;
}
.button-textColor-white {
  color: white;
}
@media (max-width: 1010px) {
  .button {
    font-size: 14px;
  }
}
