.form-section__box {
  position: relative;
  margin-bottom: 150px;
  min-height: 600px;
  width: 100%;
}
.form {
  width: 55%;
  min-height: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #f2f2f2;
  z-index: 1;
  border-radius: 5px;
}

.form-section__text {
  display: flex;
  justify-content: flex-end;
  background-color: #ffc100;
  position: absolute;
  min-height: 100%;
  width: 55%;
  right: 0;
  top: 0;
  border-radius: 5px;
}
.form__text {
  padding: 50px;
  max-width: 485px;
  h5 {
    color: #4d4d4d;
    font-size: 33px;
    line-height: 1.55;
    font-weight: 700;
  }
  p {
    color: #ff0000;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 400;
    margin-bottom: 10px;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
  }
  button {
    position: relative;
    width: 65%;
    z-index: 1;
  }
  .error {
    color: red;
    padding-left: 5px;
    line-height: 1;
    margin-bottom: 15px;
  }
}
.form__svg {
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: 0;
}

.input {
  background-color: white;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 500;
}

.form-section__desc {
  padding: 50px;
  padding-left: 130px;
  h5 {
    color: #ffffff;
    font-size: 33px;
    line-height: 1.55;
    font-weight: 700;
    margin-bottom: 15px;
  }
  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    margin-bottom: 25px;
  }
  button {
    width: 60%;
  }
}
.form-section__svg--two {
  position: absolute;
  opacity: 0.2;
  bottom: 3%;
  right: 0;
}
.form-section__link {
  position: relative;
  display: block;
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 20px;
}
