@media (max-width: 1150px) {
  .header__contacts-item {
    a {
      font-size: 16px;
    }
    span {
      font-size: 16px;
    }
    .header__contacts-item__link {
      max-width: 30px;
    }
  }
}
@media (max-width: 1010px) {
  .header__contacts-item {
    a {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
}
@media (max-width: 880px) {
  .header__row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .nav {
    display: none;
  }
  .mobile__btn {
    display: block;
    cursor: pointer;
  }
  .header__nav-burger {
    padding-top: 120px;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: #4d4d4d;
    backdrop-filter: blur(40.7742271423px);
    z-index: 2;
    transition: right 0.5s;
    overflow-y: hidden;
  }
  .header__list-burger {
    max-width: 85%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .header__nav-burger__item {
    a {
      color: white;
    }
  }
  .active {
    right: 0;
  }
}
@media (max-width: 580px) {
  .header__block {
    flex-direction: column;
  }
}
