@media (max-width: 769px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .footer__item_title {
    min-height: 0;
  }
}
@media (max-width: 426px) {
  .footer__grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
