@media (max-width: 769px) {
  .contacts__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;
  }
  .contacts__grid-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
